   1 24 "WindowsXP.Manifest" 

LOGO ICON  "Qrep.ico"
A_02    BITMAP "A_02.BMP"
A_03    BITMAP "A_03.BMP"
A_04    BITMAP "A_04.BMP"
A_05    BITMAP "A_05.BMP"
B_15    BITMAP "B_15.BMP"
BITMAs  BITMAP "BITMAP.bmp"
ICON_16_OPEN    BITMAP "ICON_16_OPEN.BMP"
ICON_16_PRINT    BITMAP "ICON_16_PRINT.BMP"
ICON_16_ZOOIN    BITMAP "ICON_16_ZOOIN.BMP"
ICON_16_ZOOOUT    BITMAP "ICON_16_ZOOOUT.BMP"
ICON_16_SAVE    BITMAP "ICON_16_SAVE.BMP"
ICON_16_COPY    BITMAP "ICON_16_COPY.BMP"
W1 	   BITMAP "z3.BMP"
W2     BITMAP "z4.BMP"
W3    BITMAP "z5.BMP"
W4    BITMAP "z6.BMP"
Z1    BITMAP "Z1.BMP"
Z2 	  BITMAP "Z2.bmp"
Z5	  BITMAP "Z5.bmp"
Z6 	  BITMAP "Z6.bmp"
Z7 	  BITMAP "Z7.bmp"
Resaltar 	   BITMAP "ann_highlight.bmp" 
Linea 	   BITMAP "ann_line.bmp"  
Rectangulo 	   BITMAP "ann_rect.bmp"
Circulo 	   BITMAP "ann_circle.bmp"
Tinta 	   BITMAP "ann_ink.bmp"  
Tip 	   BITMAP "ann_tip.bmp"
FONDO BITMAP "databook.bmp"
 

ABORTDLG DIALOG 20, 20, 135, 64
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "Pdf Print"
FONT 8, "System"
{
 DEFPUSHBUTTON "Cancelar ", 2, 52,44,32,14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 CTEXT "Enviando", -1, 0,8,135,8
 CTEXT "Pdf", 100, 0,18,135,8
 CTEXT "a Impresosa spooler.", -1, 0,28,135,8
}
